@model ComercioElectronico.Models.Register

@{
    ViewBag.Title = "Registro";
}

<div class="col-md-12">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>Crear una cuenta.</h2>
    </hgroup>
</div>

<div  class="col-md-6">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="col-md-12">
            <div class="col-md-4 editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="col-md-4 editor-field">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="col-md-12">
            <div class="col-md-4 editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="col-md-4 editor-field">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="col-md-12">
            <div class="col-md-4 editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="col-md-4 editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div>&nbsp;</div>
        <br />
        <div class="col-md-8 text-right">
            <input type="submit" value="Registrar" class="btn btn-default" />
        </div>
    }

</div>